body {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

/* From Uiverse.io by EmmaxPlay */
.card {
    width: 250px;
    height: 294px;
    margin-top: 150px;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.card__content {
    display: flex;
    flex-direction: column;
}

.input {

    width: 210px;
    height: 20px;
    padding: 0 5px;
    margin: 5px 10px;
    background: #011522;
    border-radius: 4px;
    border: 1px solid #fe4567;
    color: #f9f9f9;
    animation: shake_541 0.14s 3;
}

.input:valid {
    border-color: #45feaf;
    animation: none;
}

@keyframes shake_541 {

    0%,
    100% {
        translate: 0;
    }

    25% {
        translate: 8px 0;
    }

    75% {
        translate: -8px 0;
    }
}

.button {
    margin: 5px 55px;
    color: white;
    width: 50%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}